<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../component/basic/metaNormal.ejs') %>
    <title>嘉福平台—一站式福利薪酬管理平台</title>
</head>
<body>

<!--导航-->
<%- include('../component/basic/top_nav.ejs',{
"tabone":true,
"tabtwo":false,
"tabthree":false,
"tabfour":false,
"tabfive":false,
"homepage":false
}) %>

<!--侧边导航-->
<%- include('../component/basic/side_nav.ejs') %>


<!--中间主体部分-->
<div id="homepage_scroll_move">
    <div id="content_scroll">

        <!--第一页-->
        <%- include('../component/homepage/pageone.ejs') %>
        <!--第二页-->

        <%- include('../component/homepage/pagetwo.ejs') %>

        <!--第三页-->

        <%- include('../component/homepage/pagethree.ejs') %>

        <!--第四页-->

        <%- include('../component/homepage/pagefour.ejs') %>
        <!--第五页-->

        <%- include('../component/homepage/pagefive.ejs') %>
        <!--第六页-->

        <%- include('../component/homepage/pagesex.ejs') %>
        <!--第七页-->

        <%- include('../component/homepage/pageseven.ejs') %>


    </div>

</div>


</body>

<script>
    /*鼠标滚动事件*/

    scrollBlockMove.init();

    addEventListener("webkitAnimationEnd", function () {
        jfMouseMove.v.isMove = true;
        jfMouseMove.init()

    }, false);

    addEventListener("animationEnd", function () {
        jfMouseMove.v.isMove = true;
        jfMouseMove.init()

    }, false);

    //wave canvas

    wave.start();

    mobilePageJump();

</script>
</html>